<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISCS_Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://188.39.139.92:53545/SCS_Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISCS_Service"
                contract="ServiceReference1.ISCS_Service" name="BasicHttpBinding_ISCS_Service" />
        </client>
    </system.serviceModel>
</configuration>