<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>-->
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
 
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime
         executionTimeout="90"
         maxRequestLength="51200"/>
    <authentication mode="Forms">
      <forms slidingExpiration="true" timeout="2880"/>
    </authentication>
    <!--defaultUrl="~/products.aspx" loginUrl="~/login.aspx"-->
    <!--<httpHandlers>
       <add verb="*" path="imagsizes.aspx" type="WebClientApplication.imageresize, WebClientApplication" validate="false" />
     </httpHandlers>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  
  </system.web>
  <appSettings/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISCS_Service"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://188.39.139.92:53545/SCS_Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISCS_Service" contract="ServiceReference1.ISCS_Service" name="BasicHttpBinding_ISCS_Service"/>
    </client>
  </system.serviceModel>
</configuration>