<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data_Level.Properties.Settings.SCS_PortalConnectionString" connectionString="Data Source=188.39.139.90;Initial Catalog=SCS_Portal;Persist Security Info=True;User ID=Price_List2;Password=Price_List2010" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
